@use '../../sass/mixins/mixin' as mixin;
@import '../../sass/variables';

header {
      position: fixed;
      width: 100%;
      background-color: $white;
      z-index: 100;
      top: 0;
      
      .header {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            padding: 0;
      
            &__search-input {
                  display: none;
            }

            &__icon {
                  cursor: pointer;                  
                  text-align: center;

                  svg {
                        width: 24px;
                        height: 24px;
                  }

            }

            &__icon:hover {
                  fill: $dark;
                  color: $dark;
            }
            &__icons, &__second-icons  {
                  display: flex;
                  column-gap: 10px;
            }

            p {
                  display: none;
                  @media(min-width: $desktop) {
                        display: block;
                  }
            }


            
            
      }
}