@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
//widths
$mobile: 450px;
$desktop: 1110px;
$main-container: 700px;
//Primary
$moderate-blue: hsl(238,
40%,
52%);
$soft-Red: hsl(358,
79%,
66%);
$light-grayish-blue: hsl(239,
57%,
85%);
$pale-red: hsl(357,
100%,
86%);
//Paddings inside
$paddings-insides-divs: 12px;
$border-radius-divs: 12px;
$gap-mobile: 30px;
//Neutral
$dark-blue: hsl(212,
24%,
26%);
$grayish-blue: hsl(211,
10%,
45%);
$light-gray: hsl(223,
19%,
93%);
$very-light-gray: #F3F2EF;
$white: hsl(0,
0%,
100%);
$gray: #666666;
$dark-basic: #242625;
$dark: #1a1b1b;
//Body Copy Typography
$font-size: 16px;
$font-type: 'Kumbh Sans',
sans-serif;
$weight-low: 400;
$weight-medium: 500;
$weight-high: 700;
//borders
$border-radius-px-buttons: 60px;
$border-radius: 8px;
$boder-radius-buttons: 1.6rem;