<aside class="right-side">
      <h3>Add to your feed</h3>
      &nbsp; 
      <div class="right-side__profile">
            <div>
                  <img class="profile__avatar" src="assets/images/avatars/image-juliusomo.webp" alt="">
            </div>
            <div>
                  <h3>Estefany Pedraza</h3>
                  <span>IT Recruiter | Psicóloga de Selección | Analista de Selección | Psicóloga</span>
                  <button class="right-side__button"><span class="material-icons">add</span>
                        <span>Follow</span>
                  </button>
            </div>
      </div>
</aside>