@use '../../sass/mixins/mixin' as mixin;
@import '../../sass/variables';
.comment,
.reply {
    background-color: $dark;
    padding: 28px;
    margin: 25px 0px;
    border-radius: $border-radius;
    position: relative;
    @media(min-width: $desktop) {
        display: flex;
    }
    &__details-top {
        display: flex;
        justify-content: space-between;
        @media(min-width: $desktop) {
            margin-bottom: 12px;
            & div {
                display: flex;
                align-items: center;
            }
        }
    }
    &__details,
    &__buttons {
        @media(min-width: $desktop) {
            padding: 0px 25px;
        }
    }
    &__avatar {
        width: 40px;
        height: 40px;
        position: absolute;
        cursor: pointer;
        @media(min-width: $desktop) {
            position: unset;
        }
    }
    &__month {
        color: $grayish-blue;
        @include mixin.positionAbsolute(none, none, 18px, 25px, none);
        @media(min-width: $desktop) {
            position: unset;
            margin-left: 15px;
        }
    }
    &__person {
        @include mixin.positionAbsolute(0, 75px, 0, 25px, 0);
        @media(min-width: $desktop) {
            position: unset;
            margin-left: 15px;
        }
    }
    &__text {
        padding: 50px 0px;
        color: $grayish-blue;
        font-weight: $weight-medium;
        text-align: justify;
        @media(min-width: $desktop) {
            padding: 0;
        }
    }
    &__reply {
        padding: 24px;
        cursor: pointer;
        @include mixin.positionAbsolute(0, none, 0, none, 0);
        @media(min-width: $desktop) {
            position: unset;
            display: inline-block;
            padding: 0;
        }
    }
    .img {
        @include mixin.positionAbsolute(15px 0px, none, none, none, 0);
        padding: 6px 0px;

        @media(min-width: $desktop) {
            margin-right: 25px;
            position: unset;
        }
    }
    &__button-send {
        @include mixin.positionAbsolute(24px, none, 0, none, 0);
        @include mixin.button($moderate-blue, $white, 8px 15px, $border-radius);
        &:hover {
            background-color: $light-grayish-blue;
        }

        @media(min-width: $desktop) {
         position: unset;
        }
    }
    &__input-text {
        background-color: $dark-basic;
        border: 1px solid $gray;
        border-radius: $border-radius;
        height: 100px;
        margin-bottom: 62px;
        width: 100%;
        color: $white;
        outline-color: $moderate-blue;
        text-align: center;

        @media(min-width: $desktop) {
            padding: 0px 25px;
         }
    }
    &__icon-reply {
        margin-right: 10px;
    }
    &__text-reply {
        color: $moderate-blue;
        font-weight: $weight-high;
        &:hover {
            color: $light-grayish-blue;
        }

    }
    &__input,
    &__minus,
    &__plus {
        width: 10px;
        padding: 5px;
        @media(min-width: $desktop) {
            padding: 0;
        }
    }
    &__input {
        background-color: inherit;
        border: 0;
        outline: none;
        text-align: center;
        color: $moderate-blue;
        font-weight: $weight-high;
        font-size: 20px;
        width: 1.2em;
    }
    &__buttons {
        align-items: center;
        background-color: $dark-basic;
        border-radius: $border-radius;
        bottom: 0;
        display: flex;
        justify-content: center;
        margin: 15px 0px;
        position: absolute;
        padding: 6px 10px;
        cursor: pointer;
        @media(min-width: $desktop) {
            position: unset;
            flex-direction: column;
            margin: 0;
            padding: 15px 6px;
            height: 70px;
            justify-content: space-between;
        }
    }
}


.text {
    margin: unset;
    @media(min-width: $desktop) {
        display: flex;
        justify-content: space-between;
        height: 100px;
    }
}