@import '../sass/variables';

.main-content {
      width: $mobile;
      margin: 0 auto;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: $gap-mobile;

      @media(min-width: $desktop) {
            margin-top: 4.6rem;
            min-width: $desktop;
            display: flex;
            flex-direction: row;
            gap: $gap-mobile;
      }

}



