@mixin button($background, $color-text, $padding, $border-radius) {
    background-color: $background;
    border: 0;
    border-radius: $border-radius;
    color: $color-text;
    cursor: pointer;
    padding: $padding;
}

@mixin positionAbsolute($margin, $left, $right, $top, $bottom) {
    position: absolute;
    margin: $margin;
    left: $left;
    right: $right;
    top: $top;
    bottom: $bottom;
}

