@use '../../sass/mixins/mixin' as mixin;
@import '../../sass/variables';


.left-side{
      display: flex;
      gap: 10px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 4.2rem;


      @media(min-width: $desktop) {
            width: 225px;
            margin: 0;
      }
}