<div class="post" [@simpleFadeAnimation]="'in'">
      <div class="post__details">
            <img class="post__avatar" src="{{ comment.user.image.png }}" alt="avatar">
            <div class="post__info-text">
                  <b class="post__person">{{ comment.user.username }}</b>
                  <p>Software Engineer and Web Developer</p>
                  <div class="post__time">
                        <span>{{ comment.createdAt }}</span>
                        <span class="material-icons">public</span>
                  </div>
            </div>
            <div class="post__icons">
                  <a href="">
                        <span class="material-icons">more_horiz</span>
                  </a>
                  <a href="">
                        <span class="material-icons">close</span>
                  </a>
            </div>
      </div>
      <div class="post__comment">
            <p>{{ comment.content }}</p>
      </div>
      <div class="post__icons">
            <div class="post__icon">
                  <span class="material-icons">
                        thumb_up_off_alt
                        </span>
                        <span>Like</span>
            </div>
            <div class="post__icon" (click)="reply(comment.user.username, comment.id)">
                  <span class="material-icons">
                        insert_comment
                        </span>
                  <span>Comment</span>
            </div>
            <div class="post__icon">
                  <span class="material-icons">
                        share
                        </span>
                  <span>Repost</span>
            </div>
            <div class="post__icon">
                  <span class="material-icons">
                        send
                        </span>
                  <span>Send</span>
            </div>
      </div>
</div>

<section class="repplies" *ngIf="comment.replies">
      <div *ngFor="let reply of comment.replies">
            <app-reply *ngIf="reply.id" [reply]="reply" [commentId]="comment.id"></app-reply> 
            <ng-container *ngIf="reply.id == 0;">
                  <app-reply-input [commentId]="comment.id"></app-reply-input>
              </ng-container>
      </div>
</section>